<!-- @prettify-ignore -->
<div class="product__block product__head product__block-title block-padding"
  {{ block_style }}
  {% if animation_name %}
    data-animation="{{ animation_name }}"
    data-animation-duration="{{ animation_duration }}"
    data-animation-delay="{{ animation_delay }}"
  {% endif %}>
  {%- case block.settings.subheading_option -%}
    {%- when 'vendor' -%}
      {%- if product.vendor -%}
        <nav class="breadcrumbs breadcrumbs--no-padding product__breadcrumbs">
          <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
        </nav>
      {%- endif -%}
    {%- when 'collection' -%}
      {%- if collection or product.collections.size > 0 -%}
        {%- assign current_collection = collection | default: product.collections[0] -%}

        <nav class="breadcrumbs breadcrumbs--no-padding product__breadcrumbs">
          <a href="{{ current_collection.url }}">{{ current_collection.title }}</a>
        </nav>
      {%- endif -%}
    {%- when 'breadcrumb' -%}
      {% render 'breadcrumbs' breadcrumbs_modifier: 'breadcrumbs--no-padding product__breadcrumbs' %}
  {%- endcase -%}

  <div class="product__title__wrapper" {{ block.shopify_attributes }}>
    <h1 class="product__title" style="--fz:{{ block.settings.title_size }}px;--fz-mobile:{{ block.settings.title_size_mobile }}px;">
      {% assign title = product.title %}
      {% if custom_product_title != blank %}
        {% assign title = custom_product_title %}
      {% endif %}

      {%- unless is_title_linked -%}
        <span data-zoom-caption>{{ title | strip_html }}</span>
      {%- else -%}
        <a href="{{ product.url }}">
          <span data-zoom-caption>{{ title | strip_html }}</span>
        </a>
      {%- endunless -%}
    </h1>
  </div>
</div>
