{%- liquid
  assign animation_name = 'drawer-items-fade'
  assign animation_name_images = 'drawer-images-fade'
  assign animation_duration = 500
  assign animation_delay = 200
  assign animation_delay_increment = 50
  assign unique = unique | default: section.id
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = current_variant.featured_media | default: product.featured_media
  assign preorder = false
  if product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true
    assign preorder = true
  endif
  assign sold_out = false
  unless product.available
    assign sold_out = true
  endunless
  assign product_tags = product.tags | join: ','
  if product_tags contains '_preorder'
    assign preorder = true
  endif

  assign product_card_data = product.metafields.custom.product_card_data.value
-%}


{%- capture over_image_content -%}
  {%- liquid
    assign product_tags = product.tags | join: ',' | append: ','
    assign preorder = false
    assign is_preorder_meta = false
    assign on_sale = false
    assign sold_out = false
    assign badge = ''
    assign badge_new = ''
    assign badge_soldout = ''

    if product.metafields.theme.badge != blank and product.metafields.theme.badge.type == 'single_line_text_field'
      assign badge = product.metafields.theme.badge.value
    endif

    if badge == '' and product_tags contains '_badge_'
      assign badge = product_tags | split: '_badge_'
      assign badge = badge[1] | split: ',' | first | replace: '_', ' '
    endif

    if product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true
      assign is_preorder_meta = true
    endif

    if product_tags contains '_preorder' or is_preorder_meta
      assign preorder = true
    endif

    if product.compare_at_price > product.price and settings.sale_tags_enable
      assign on_sale = true
    endif

    unless product.available
      assign sold_out = true
    endunless

    if settings.show_automatic_new_badge
      assign product_created_timestamp = product.created_at | date: '%s' | plus: 0
      assign days_in_seconds = settings.badge_new_date_limit | times: 24 | times: 60 | times: 60
      assign current_date_timestamp = "now" | date: '%s'
      assign check_date_timestamp = current_date_timestamp | minus: days_in_seconds

      if product_created_timestamp > check_date_timestamp
        assign badge_new = 'products.product.new' | t
      endif
    endif

    if settings.show_sold_out_badge and sold_out
      assign badge_soldout = 'products.product.sold_out' | t
    endif
  -%}

  {%- if badge != '' or badge_new != '' or badge_soldout != '' -%}
    <span class="badge-box"
          data-aos="fade"
          data-aos-delay="{{ aos_delay }}"
          data-aos-duration="{{ aos_duration }}"
          data-aos-anchor="{{ aos_anchor }}">
      {%- if badge_soldout != '' -%}
        {{ badge_soldout }}
      {%- elsif badge_new != '' -%}
        {{ badge_new }}
      {%- else -%}
        {{ badge }}
      {%- endif -%}
    </span>
  {%- elsif preorder and sold_out == false -%}
    <span class="preorder-box"
          data-aos="fade"
          data-aos-delay="{{ aos_delay }}"
          data-aos-duration="{{ aos_duration }}"
          data-aos-anchor="{{ aos_anchor }}">{{ 'products.product.pre_order' | t }}</span>
  {%- elsif on_sale and sold_out == false -%}
    <span class="sale-box"
          data-aos="fade"
          data-aos-delay="{{ aos_delay }}"
          data-aos-duration="{{ aos_duration }}"
          data-aos-anchor="{{ aos_anchor }}">{{ 'products.product.on_sale' | t }}</span>
  {%- endif -%}

{%- endcapture -%}

<div data-api-content>

  <script src="{{ 'product-images.js' | asset_url }}" defer="defer"></script>

  <product-images
    class="product-quick-add__images product__images product__images--thumbs product__images--mobile-thumbs"
    data-active-media="{{ section.id }}-{{ featured_media.id }}"
    data-fader-desktop
  >
    <div class="product__slides"
      data-product-media-list
      data-animation="{{ animation_name_images }}"
      data-animation-duration="{{ animation_duration }}"
      data-animation-delay="{{ animation_delay }}"
      {%- assign animation_delay = animation_delay | plus: animation_delay_increment -%}
    >
     

      {%- if product_card_data == blank and product_card_data.product_media.value == blank -%}
        {%- for media in product.media -%}
          {%- render 'media', media: media, featured_media: featured_media, enable_video_looping: true, sectionkey: section.id, product_api: true, image_width: '365', loading: 'eager', cover: true -%}
        {%- endfor -%}

        {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
        {%- if first_3d_model -%}
          <button
            class="btn btn--outline btn--black btn--ar product-quick-add__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title | strip_html }}"
            data-shopify-xr-hidden>
            {%- render 'icon-media-model' -%}
            <span class="product-quick-add__view-in-space-text">{{ 'products.general.view_space' | t }}</span>
          </button>
        {%- endif -%}
      {%- else -%}
        {% assign product_image = product.featured_image %}
        {% assign product_media = product_card_data.product_media.value %}
        {% assign first_image = product_media | first %}
        {% if first_image != blank %}
          {% assign product_image = first_image %}
        {% endif %}

        <div class="product__slide {% if product_card_data.mobile_product_media_quick_view_window_ != blank %}with-mobile-image{% endif %}">
          <div class="product__photo desktop-image">
            {%- render 'image' image: product_image, widths: '365, 550, 730, 1100, 1460', loading: 'eager', cover: true -%}
          </div>
          {% if product_card_data.mobile_product_media_quick_view_window_ != blank %}
            <div class="product__photo mobile-image">
              {%- render 'image' image: product_card_data.mobile_product_media_quick_view_window_.value, widths: '365, 550, 730, 1100, 1460', loading: 'eager', cover: true -%}
            </div>
          {% endif %}
        </div>
      {%- endif -%}

      {{ over_image_content }}
    </div>
  </product-images>

  <div class="product-quick-add__form">
    <div class="product-quick-add__form__inner" data-form-wrapper>
      <div class="product-quick-add__title-wrapper">
       {% liquid
        assign custom_product_title = product_card_data.product_title
        render 'product-title' product: product, is_title_linked: true, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration, custom_product_title: custom_product_title
        render 'junip-stars-widget', product: product
       %}
      </div>

      {%- liquid
        assign animation_delay = animation_delay | plus: animation_delay_increment

        assign product_form_id = 'product-form-upsell-' | append: section.id | append: '-' | append: product.id
        

        render 'product-price' product: product, unique: unique, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
        assign animation_delay = animation_delay | plus: animation_delay_increment

        if product.metafields.custom.small_description != blank
          assign small_description = product.metafields.custom.small_description | metafield_tag
          render 'product-description-custom' text: small_description,  animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
          assign animation_delay = animation_delay | plus: animation_delay_increment
        endif

        render 'product-siblings' product: product, product_form_id: product_form_id, block: block, metafields: true, product_api: true, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration
        assign animation_delay = animation_delay | plus: animation_delay_increment

        render 'product-variant-options' product: product, unique: unique, product_form_id: product_form_id, enable_size_chart: false, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration, quickview: true
        assign animation_delay = animation_delay | plus: animation_delay_increment

      -%}

      {%- comment -%}
        Add a line item property called 'Preorder' to preorder products
      {%- endcomment -%}
      {%- if preorder -%}
        <input type="hidden" name="properties[{{ 'products.product.sale_type' | t }}]" value="{{ 'products.product.pre_order' | t }}" form="{{ product_form_id }}" data-product-preorder>
      {%- endif -%}

      {%- if settings.show_gift_card_recipient and product.gift_card? -%}
        <div class="product__block block-padding"
          {% if animation_name %}
            data-animation="{{ animation_name }}"
            data-animation-duration="{{ animation_duration }}"
            data-animation-delay="{{ animation_delay }}"
          {% endif %}>
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section, product_form_id: product_form_id -%}
        </div>
      {%- endif -%}

      {%- render 'product-buttons', product: product, unique: unique, product_form_id: product_form_id, animation_name: animation_name, animation_delay: animation_delay, animation_duration: animation_duration, quickview: true -%}

      {% comment %} The input with name="id" submits to cart {% endcomment %}
      <input type="hidden" name="id" value="{{ current_variant.id }}" form="{{ product_form_id }}">
    </div>
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>

    {%- liquid
      assign metafields_data = '['
      for variant in product.variants
        assign metafield_value = variant.metafields.theme.final_sale.value | replace: '"', "''"
        assign metafields_data = metafields_data | append: '{"variant_id":"' | append: variant.id | append: '" , "metafield_value":"' | append: metafield_value | append: '"},'
      endfor
      assign metafields_data = metafields_data | append: ']'
      assign metafields_data = metafields_data | replace: ",]", "]"
    -%}

    <span data-variant-final-sale-metafield style="display:none;">{{ metafields_data }}</span>
  {% endunless %}
</div>


