{{ 'section-blog-investors.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }


  .blog-investors.section-{{ section.id }}-padding .blog-investors__content h2{
    font-size: {{ section.settings.fs_title_main_mob }}px;
  }

  .blog-investors.section-{{ section.id }}-padding .article-item__title{
    font-size: {{ section.settings.fs_title_mob }}px;
  }

  .blog-investors.section-{{ section.id }}-padding .article-item__read-more span{
    font-size: {{ section.settings.fs_btn_mob }}px;
  }

  @media screen and (min-width: 749px) {
    .blog-investors.section-{{ section.id }}-padding .blog-investors__content h2{
      font-size: {{ section.settings.fs_title_main }}px;
    }

    .blog-investors.section-{{ section.id }}-padding .article-item__title{
      font-size: {{ section.settings.fs_title }}px;
    }

    .blog-investors.section-{{ section.id }}-padding .article-item__read-more span{
      font-size: {{ section.settings.fs_btn }}px;
    }
  }
{%- endstyle -%}

<div id="blog-investors-id" class="blog-investors section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="blog-investors__content">
    {% if section.settings.heading != blank %}
      <h2 class="blog-investors__heading">
        {{- section.settings.heading -}}
      </h2>
    {% endif %}
    <div class="blog-investors__items">
      {%- assign articles_chunk = section.settings.blog.articles | slice: 0, 6 -%}
      {%- for group in (0..1) -%}
        <div class="blog-investors__group">
          {%- assign start_index = group | times: 3 -%}
          {%- assign group_articles = articles_chunk | slice: start_index, 3 -%}

          {% assign sorted_articles = group_articles | sort: "published_at" %}
          {% assign reversed_articles = sorted_articles | reverse %}

          {%- for article in reversed_articles -%}
            <div class="article-item">
              <a class="full-unstyled-link" href="{{ article.url }}">

                <div class="article-item__title">
                  {{ article.title }}
                </div>

                <div class="article-item__read-more">
                  <span>{{ section.settings.text_read_more }}</span>
                </div>
              </a>
            </div>
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media - Invest News Blog",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "text_read_more",
      "default": "Read More",
      "label": "Text for 'Read More'"
    },
    {
      "type": "range",
      "id": "fs_title_main",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size main title",
      "default": 36
    },
    {
      "type": "range",
      "id": "fs_title_main_mob",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size main title mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "fs_title",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size title",
      "default": 22
    },
    {
      "type": "range",
      "id": "fs_btn",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size button",
      "default": 20
    },
    {
      "type": "range",
      "id": "fs_title_mob",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size title mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "fs_btn_mob",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size button mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 90
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 90
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Media - Invest News Blog"
    }
  ]
}
{% endschema %}
